---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/redirect-owners: "{{ .Env.OWNERS }}"
    kubernetes.io/redirect-description: "{{ .Env.DESCRIPTION }}"
    nginx.ingress.kubernetes.io/rewrite-target: "https://{{ .Env.TO }}"
    cert-manager.io/issuer: letsencrypt-prod
  labels:
    app: redirects
  name: redirects-{{ .Env.NAME }}
  namespace: {{ default .Env.NAMESPACE "default" }}
spec:
  tls:
    - hosts:
        - {{ .Env.FROM }}
      secretName: {{ .Env.NAME }}-tls
  rules:
    - host: {{ .Env.FROM }}
      http:
        paths:
          - path: /(.*)
            backend:
              serviceName: global-brb-static
              servicePort: 80
